<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <div class="acordeon">
                <div id="info10" class="masInfo">
                    <p (click)="acordeon('#info10');">
                        <span>Del Patronat </span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div class="row">
                            <div class="col-100">
                                <p>
                                    <b>Actuant i prenent decisions </b> davant la comunicació de qualsevol fet o risc ètic i/o penal.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="info11" class="masInfo">
                    <p (click)="acordeon('#info11');">
                        <span>Del responsable del Compliance</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div class="row">
                            <div class="col-100">
                                <p>
                                    <b>Realitzant tasques de prevenció, detecció i gestió d’incidents </b> relacionats amb la vulneració de normes o aspectes ètics d’AMPANS.
                                </p>
                                <p>
                                    El responsable de Compliance realitza un informe almenys anual dirigit al Patronat de la Fundació.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>												
                <div id="info12" class="masInfo">
                    <p (click)="acordeon('#info12');">
                        <span>De l’Espai de reflexió ètica en serveis socials d’AMPANS (ERESS)</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div class="row">
                            <div class="col-100">
                                <p>
                                    Ajudant a la tasca del responsable del Compliance, revisant i proposant millores en el codi d’ètica de l’entitat i divulgant la seva feina.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>												
                <div id="info13" class="masInfo">
                    <p (click)="acordeon('#info13');">
                        <span>De tot el personal d’AMPANS</span> 
                        <img class="mas" src="assets/img/iconos/mas.svg" alt="">
                        <img class="menos" src="assets/img/iconos/menos.svg" alt="">
                    </p>
                    <div class="content">
                        <div class="row">
                            <div class="col-100">
                                <p>
                                    Facilitant la tasca del Compliance i denunciant qualsevol situació que pugui implicar una vulneració de les normes legals i ètiques d’AMPANS.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>												
            </div>    
        </div>
    </div>
</div>