<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p>En començar a treballar a AMPANS rebràs informació sobre el codi d’ètica de la Fundació.</p>
            <p>Pots consultar el codi en qualsevol moment a:</p>
            <div class="cita">
                <p>
                    <img src="assets/img/iconos/204-link.svg">
                </p>
                <p>
                    A la pagina web d’Ampans (<a target="_blank" href="http://www.ampans.cat/images/codi_etica.pdf">http://www.ampans.cat/images/codi_etica.pdf</a>)
                </p>
                <p>
                    A intranet (<a target="_blank" href="http://web.ampans.es/ISO/ISO9001_2000/Documents_Ref_externa/Codi_Etica.pdf">http://web.ampans.es/ISO/ISO9001_2000/Documents_Ref_externa/Codi_Etica.pdf</a>)
                </p>
            </div>
            <p><b>O bé sol·licitant-lo al teu responsable.</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col-100">
            <img src="assets/img/Compliance_3.jpg" alt="">
        </div>
    </div>
</div>