<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-100">
            <p class="instructions">Premi sobre les opcions per ampliar la informació.</p>
            <div class="timeline-img">
                <div class="item selected first" (click)="selectItem(1)">
                    <div class="item-img">
                        <img style="height: 200px; width: 200px;" src="assets/img/uno.svg" alt="">
                    </div>
                    <div class="texto-img">
                         <p>
                            <b>Activitats relatives a la prostitució, explotació sexual i corrupció de menors o de persones amb discapacitat</b>
                        </p>
                        <ul>
                            <li>Abús d'un menor o persona amb discapacitat.</li> 
                            <li>Inducció a la prostitució.</li>
                            <li>Captació de persones amb discapacitat o menors per espectacles exhibicionistes o pornogràfics.</li> 
                            <li>Producció o distribució de pornografia infantil.</li> 
                            <li>No denunciar una situació de corrupció.</li> 
                            <li>Etc.</li>
                        </ul>
                    </div>
                </div>
                <div class="item" (click)="selectItem(2)">
                    <div class="item-img">
                        <img style="height: 200px; width: 200px;" src="assets/img/dos.svg" alt="">
                    </div>
                    <div class="texto-img">
                        <p><b>Maltractaments a persones amb discapacitat</b></p>
                        <ul>
                            <li>Violència física. </li>
                            <li>Violència psicològica. </li>
                            <li>Abús sexual. </li>
                            <li>Abandonament.</li> 
                            <li>Administració de fàrmacs sense prescripció mèdica. </li>
                            <li>Assetjament. </li>
                            <li>No denunciar una situació de maltractament.</li>
                        </ul>

                    </div>
                </div>
                <div class="item" (click)="selectItem(3)">
                    <div class="item-img">
                        <img style="height: 200px; width: 200px;" src="assets/img/tres.svg" alt="">
                    </div>
                    <div class="texto-img">
                        <p><b>Violació de la intimitat i violació informàtica</b></p>
                        <ul>
                            <li>Apoderar-se de dades reservades de caràcter personal o familiar d’altres persones.</li> 
                            <li>Difondre, revelar o cedir, sense autorització, imatges o gravacions audiovisuals.</li>
                        </ul>
                    </div>
                </div>
                <div class="item" (click)="selectItem(4)">
                    <div class="item-img">
                        <img style="height: 200px; width: 200px;" src="assets/img/cuatro.svg" alt="">
                    </div>
                    <div class="texto-img">
                        <p><b>Delictes per danys informàtics</b></p>
                        <ul>
                            <li>Esborrar, danyar, alterar, suprimir o fer inaccessibles dades, programes informàtics o documents electrònics aliens, sense autorització.</li>
                        </ul>
                    </div>
                </div>
                <div class="item" (click)="selectItem(5)">
                    <div class="item-img">
                        <img style="height: 200px; width: 200px;" src="assets/img/cinco.svg" alt="">
                    </div>
                    <div class="texto-img">
                        <p><b>Propietat intel·lectual i industrial</b></p>
                        <ul>
                            <li>Reproduir un estudi, un treball, una obra científica, una obra literària o una obra artística sense l’autorització del titular, dels seus drets de propietat intel·lectual o dels seus cessionaris, a través de qualsevol mitjà.</li>
                            <li>Utilització d’una patent sense consentiment del titular.</li>
                            <li>Reproduir, plagiar, distribuir, comunicar o publicar enllaços per internet d’obres o prestacions objecte de propietat intel·lectual, sense l’autorització dels titulars, dels drets corresponents o dels seus cessionaris.</li>
                            <li>Utilitzar de manera il·lícita denominacions d’origen o geogràfiques protegides.</li>
                            <li>Fabricar productes que incorporin signes distintius idèntics o prestin a confusió amb altres marques comercials.</li>
                            <li>Utilitzar símbols, distintius i logotips d’altres entitats, sense autorització.</li>
                        </ul>
                    </div>
                </div>
                <div class="item" (click)="selectItem(6)">
                    <div class="item-img">
                        <img style="height: 200px; width: 200px;" src="assets/img/seis.svg" alt="">
                    </div>
                    <div class="texto-img">
                        <p><b>Descobriment i revelació de secrets d’empresa</b></p>
                        <ul>
                            <li>Apoderar-se per qualsevol mitjà de dades, documents escrits o electrònics, suports informàtics o altres objectes d’una altra empresa, amb la finalitat de descobrir un secret d’empresa.</li>
                            <li>L’ús de mitjans o instruments com artificis tècnics d’escolta, transmissió, gravació o reproducció del so o de la imatge, o de qualsevol altre senyal de comunicació, per descobrir un secret d’una altra empresa.</li>
                            <li>La difusió, la revelació o la cessió d’un secret d’empresa duta a terme per qui tingui legalment o contractualment l’obligació de guardar-ne reserva.</li>
                        </ul>
                    </div>
                </div>
                <div class="item" (click)="selectItem(7)">
                    <div class="item-img">
                        <img style="height: 200px; width: 200px;" src="assets/img/siete.svg" alt="">
                    </div>
                    <div class="texto-img">
                        <p><b>Delictes de corrupció en els negocis i suborn</b></p>
                        <ul>
                            <li>Rebre, sol·licitar o acceptar un benefici o avantatge no justificat, com a contraprestació per afavorir de manera indeguda a un altre.</li>
                            <li>Oferir, prometre o concedir beneficis o avantatges sense justificar, a persones relacionades amb una empresa o societat per tal que la mateixa afavoreixi a ell o a un tercer.</li>
                            <li>Oferir o lliurar a una persona que participi en l’exercici de la funció pública, qualsevol tipus de retribució perquè dugui a terme un acte contrari als deures del seu càrrec.</li>
                        </ul>
                    </div>
                </div>
                <div class="item" (click)="selectItem(8)">
                    <div class="item-img">
                        <img style="height: 200px; width: 200px;" src="assets/img/ocho.svg" alt="">
                    </div>
                    <div class="texto-img">
                        <p><b>Delictes contra el medi ambient</b></p>
                        <p>Fer actes que, anant en contra de les lleis, causin o puguin causar danys en:</p>
                        <ul>
                            <li>La qualitat de l’aire</li>
                            <li>El sol</li>
                            <li>Les aigües</li>
                            <li>Els animals</li>
                            <li>Les plantes</li>
                        </ul>
                    </div>
                </div>
                <div class="item" (click)="selectItem(9)">
                    <div class="item-img">
                        <img style="height: 200px; width: 200px;" src="assets/img/nueve.svg" alt="">
                    </div>
                    <div class="texto-img">
                        <p><b>Estafes i publicitat enganyosa</b></p>
                        <ul>
                            <li>De manera intencionada produir un dany sobre les propietats o patrimoni d’una persona, generalment en base a un engany.</li>
                            <li>
                                Que AMPANS, en les seves ofertes o publicitat de productes o serveis, fes:
                                <ul>
                                    <li>Al·legacions falses.</li>
                                    <li>Manifesti característiques incertes de manera que puguin causar un perjudici greu i manifest als consumidors.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="item last" (click)="selectItem(10)">
                    <div class="item-img">
                        <img style="height: 200px; width: 200px;" src="assets/img/diez.svg" alt="">
                    </div>
                    <div class="texto-img">
                        <p><b>Delictes contra la Hisenda Pública i contra la Seguretat Social</b></p>
                        <ul>
                            <li>Defraudar a la Hisenda Pública, estatal, autonòmica o local; o als pressupostos generals de la Unió Europea; o a la Seguretat Social, ja sigui per acció o omissió.</li>
                            <li>Obtenir subvencions o ajudes de les administracions públiques falsejant les condicions per a la seva concessió o ocultant les que l’haurien impedit.</li>
                            <li>Aplicar els fons obtinguts de les administracions públiques a fins diferents per als quals es va concedir la subvenció o ajuda.</li>
                            <li>Alterar activament la comptabilitat mercantil de tal manera que no reflecteixi la realitat econòmica de l’entitat i permeti la defraudació a la Hisenda Pública, Unió Europea o Seguretat Social.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>