<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-66">
            <div class="cita">
                <p>
                    <img src="assets/img/iconos/204-link.svg">
                </p>
                <p>
                    Escrivint un correu electrònic a: <a target="_blank" href="mailto:denuncies@ampans.cat">denuncies@ampans.cat</a>
                </p>
                <p>
                    A la pagina web d’Ampans (<a target="_blank" href="http://www.ampans.cat/compliance">http://www.ampans.cat/compliance</a>)
                </p>
                <p>
                    A intranet (<a target="_blank" href="http://web.ampans.es/intranet/index.php?lang=ca">http://web.ampans.es/intranet/index.php?lang=ca</a>)
                </p>
            </div>
        </div>
        <div class="col-33">
            <img src="assets/img/Compliance_4.jpg" alt="">
        </div>
    </div>
</div>