<div appScroll class="contenedor condicional">
    <div class="row">
        <div class="col-66">
            <p>
                El Compliance és un conjunt <b>d’eines i mesures </b> que una empresa pot aplicar de manera voluntària amb l’objectiu de <b>prevenir infraccions de les normes penals </b> que generin responsabilitat a AMPANS i per <b>garantir el compliment del codi d'ètica</b> de l’entitat.
            </p>
        </div>
        <div class="col-33">
            <img src="assets/img/Compliance_1.png" alt="">
        </div>
    </div>
</div>